@import "../abstracts/colors";

.menu {
  height: 100vh;
  margin: auto;
  .menu__items {
    max-width: 600px;
    min-width: 200px;
    padding: 2rem 4rem;
    border: 4px solid $secondary;
    border-color: $secondary;
    border-radius: 1.5rem;
    margin: 10% auto 0 auto;

    h1 {
      width: fit-content;
      margin: 0 auto 2rem auto;
    }
    .menu__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
  }
  .menu__pedir {
    padding: 1rem;
    color: black;
    background-color: $secondary;
    width: fit-content;
    margin: 3rem auto 0 auto;
  }

  .pedir {
    width: fit-content;
    margin: 2rem auto;
  }

  .arrow-container {
    display: flex;
    width: fit-content;
    margin: 2rem auto;
    animation: slidein 1s infinite ease-in-out;
    animation-direction: alternate-reverse;

    & > svg { 
      width: 5rem;
      height: 5rem;
    }

    .arrow-container__bottom {
      border-top: 55px solid $accent1;
      border-left: 45px solid transparent;
      border-right: 45px solid transparent;
      width: 0;
      height: 0;
      margin: 5px;
    }

    @keyframes slidein {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.3);
      }
    }
  }
  .chatWhatsapp {
    display: block;
    width: fit-content;
    margin: 3rem auto;
  }
}
@media screen and (max-width: 800px) {
  .menu {
    .menu__items {
      margin: 5rem 2rem 0 2rem;
    }
  }
}
@media screen and (max-width: 400px) {
  .menu {
    height: initial;
    margin: initial;
    padding: 1.5rem;
    .menu__items {
      max-width: 600px;
      min-width: 20px;
      padding: 3rem 1.5rem;
      border: 4px solid $secondary;
      border-color: $secondary;
      border-radius: 1.5rem;
      margin: 4rem auto 0 auto;
    }
  }
}
