.nosotros {
  height: 900px;
  p {
    line-height: 1.9rem;
  }
  .nosotros__container {
    h1 { 
      text-align: center;
      margin-bottom: 2rem;
    }
    margin: 10rem 7rem 8rem 7rem ;
  }
}

@media screen and (max-width: 400px) {
  .nosotros {
    height: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    .nosotros__container {
      width: initial;
      margin: 3rem 2rem;
    }
  }
}
